ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* 修改container最大寛度為1280px */

@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }
}


/* 權重不足無法改變時,使用!important最高權重 */

header {
    padding-left: 0 !important;
}

.logo {
    background-color: #429ad9;
}


/* logo 圖片大小隨屏幕縮收自適應大小*/

.logo img {
    width: 100%;
}

.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

.nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    font-size: 16px;
}

.nav a:hover {
    background-color: #fff;
    color: #333;
}


/*設置圖標垂直居中並與文字內邊距  */

.nav a::before {
    vertical-align: middle;
    padding-right: 5px;
}


/* li共同部份 */

.news li {
    width: 25%;
    float: left;
    height: 128px;

    margin-bottom: 10px;
}

.news li a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.news li a img {
    width: 100%;
    height: 100%;
}

.news li a p {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    font-size: 12px;
    width: 100%;
    height: 41px;
    color: #fff;
    margin-bottom: 0;
    padding: 5px 10px;
}

.news li:nth-of-type(1) {
    width: 50%;
    height: 266px;
}

.news li:nth-of-type(1) p {
    line-height: 41px;
    font-size: 20px;
    padding: 0 10px;
}

.publish {
    border-top: 1px solid #ccc;
}

.publish .row {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.pic {
    margin-top: 10px;
}

.pic img {
    width: 100%;
}